<!DOCTYPE html>
<head>

  <title>Edit User</title>
  <!-- CSS Files-->
  <link rel="stylesheet" href="register_style.css">
  <link rel="stylesheet" href="register_form_style.css">
</head>
<body>
    <h1>Edit User</h1>
    <form action="/edituser" method="post">
        <div class="row">
          <div class="col1">
            <label for="fname">First Name</label>
          </div>
          <div class="col2">
            <input type="text" id="fname" name="firstname" placeholder="Your first name.." value = <%= colleague.prenume %> >
          </div>
        </div>
        <div class="row">
          <div class="col1">
            <label for="lname">Last Name</label>
          </div>
          <div class="col2">
            <input type="text" id="lname" name="lastname" placeholder="Your last name.." value = <%= colleague.nume %> >
          </div>
        </div>
        <div class="row">
            <div class="col1">
              <label for="email">Email Adress</label>
            </div>
            <div class="col2">
              <input type="email" id="email" name="email" placeholder="Your email adress.." value = <%= colleague.email %>>
            </div>
          </div>
          <div class="row">
            <div class="col1">
              <label for="phone">Phone Number</label>
            </div>
            <div class="col2">
              <input type="tel" id="phone" name="nr_telefon" placeholder="Your phone number.." value = <%= colleague.telefon %> >
            </div>
          </div>
          <% if(user.cod_rol == 2) { %>
          <div class="row">
            <div class="col1">
              <label for="department">Department</label>
            </div>
            <div class="col2">
            <input list="department_list" name="department" value = <%= dep.nume %> />
              <datalist id="department_list">
                <option value="Human Resources"> </option>
                <option value="Design"> </option>
                <option value="Public Relations"> </option>
                <option value="IT"> </option>
                <option value="Fundraising"> </option>
              </datalist>
            </div>
          </div>
          <div class="row">
            <div class="col1">
              <label for="rol">Role</label>
            </div>
            <div class="col2">
            <input list="rol_list" name="rol" />
              <datalist id="rol_list">
                <option value="Volunteer"> </option>
                <option value="Coordinator"> </option>
                <option value="Admin"> </option>
              </datalist>
            </div>
          </div>
          <% } %>
          <input type="submit" value="Save">
    </form>
</body>
</html>